.parent-container {
    width: 798px;
    box-sizing: border-box;
    color: black;

    /* Center */
    margin: 0 auto;
}

.parent-container > div {
    width: 100%;
}

.pdf-item-title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.ul-level-1 {
    padding-left: 2.5rem;
}

.ul-level-2 {
    padding-left: 4.5rem;
}

.ul-level-3 {
    padding-left: 6.25rem;
}

.ul-level-4 {
    padding-left: 8.25rem;
}

.ul-level-5 {
    padding-left: 9.5rem;
}

.ul-level-1::before {
    color: black;
}

.ul-level-2::before {
    color: white;
    border: 1px solid black;
}

.ul-level-3::before {
    color: black;
}

.ul-level-4::before {
    color: white;
    border: 1px solid black;
}

.ul-level-5::before {
    color: black;
}
